  /**CSS Document**/


table{
    position: relative;
    border: 2px solid black;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}
td{

    text-align: justify;
    position: relative;
    padding: 20px;
}
#btn_selct {

    position: relative;
    width: 200px;

}
.btn {
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #111010c4;
    margin-top: 3%;
    margin-right: 20px;

}