  /**CSS Document**/

table{
    
    position:relative;
}
th,td {
    border-radius: 5px;
    text-align: justify;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
th{
    background: rgba(41, 51, 95, 0.897);
    color: black;
 
}
td{
    background: rgba(255, 255, 255, 0.89);
    color: black;
}