/**CSS Document**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    border: none;
}
body {
    background: url(imagens/plano-de-fundo.jpg);
}
#topo {
    background: rgba(255, 255, 255, 0.87);
    position: relative;
    padding: 1rem;
    color: black;
}
#logo {
    position: absolute;
    max-width: 15%;
    top: 0%;
    left: 0px;
}
.titulo-principal, .name  {
    font-size: "Open Sans Condensed", Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
}