  /**CSS Document**/

html, body {
    width: 100%;
    height: 100%;
    margin:0%;
    padding:0%;
    background: url(imagens/plano-de-fundo.jpg);
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
}

main {

    position: relative;
    width: 95%;
    max-width: 90%;
    margin: auto ;
    background: #313030d2;
    padding:  40px;
    margin-top: 30px;
    border-radius: 10px;
    bottom: 20px;
}
#carro {
    position: relative;
    float: right;
    width: 400px;
    border-style: solid;
    border-color: #0e0909;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 20px;
}
table{
    position: relative;
    border: 2px solid black;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}
td{

    text-align: justify;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
#btn_selct {

    position: relative;
    width: 200px;

}
.btn {
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #111010c4;
    margin-top: 3%;
    margin-right: 20px;

}
@media (max-width: 800px){
    main {
        position: relative;
        width: 85%;
        max-width: 80%;
        margin: auto ;
        background: #313030d2;
        padding:  30px;
        margin-top: 20px;
        border-radius: 5px;
        bottom: 10px;
    }
}