  /**CSS Document**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    border: none;
}
body {
    background: url(imagens/plano-de-fundo.jpg);
}
main {

    position: relative;
    width: 97%;
    margin-left: auto ;
    margin-right: auto;
    background: #313030d2;
    padding:  40px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    border-radius: 10px;
    transition: all .5s;
}
input{
    border:none;
    border-radius: 2px;
}
  
.btn_add {

    position: relative;
    left: 30px;
    border-radius: 3.5px;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #111010c4;
    margin-bottom: 1.2%;
    margin-right: 1.5%;


}
table{
    position:relative;
    width: 100%;
    margin: auto;
    background: #313030d2;
    border:3px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
    position: relative;
    border:3px solid black;
    border-radius: 10px;
}
.btn_tab {
    border: none;
    padding: 7px;
    margin-top: 0%;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    background: #161616;
    color: white;

}
a:link,
a:visited {
    color: white;
    text-decoration: none;

}
  a:hover {
    color: blue;
    text-decoration: underline;
}
  a:active {
    color: red;
}
@media (max-width: 800px){
    main {
        position: relative;
        width: 90%;
        margin-left: auto ;
        margin-right: auto;
        background: #313030d2;
        padding:  30px;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        border-radius: 5px;
    }
}