  /**CSS Document**/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    border: none;
}
body {
    background: url(imagens/plano-de-fundo.jpg);
}
main,
section {

    position: relative;
    width: 95%;
    max-width: 90%;
    margin: auto ;
    background: #313030d2;
    padding:  40px;
    margin-top: 30px;
    border-radius: 10px;
    bottom: 20px;
    transition: all .5s;
}
.band-name{
    text-align: center;
}
.headline{
    text-align: center;
}
@media (max-width: 815px){
    main,
    section {
        position: relative;
        width: 85%;
        max-width: 80%;
        margin: auto ;
        background: #313030d2;
        padding:  30px;
        margin-top: 20px;
        border-radius: 5px;
        bottom: 10px;
    }
}