  /**CSS Document**/

textarea:focus,
input:focus{
    outline: none;

}

a,
label{
    font-size: .8rem;
}
a:hover{
    color: #08558B;
}

/* container login */

#login_container{
    background: #313030d2;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    text-align: center;
}

/* Formulário */

form{
    margin-top: 30px;
    margin-bottom: 40px;

}

label,
input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    color: black;
}

input:focus{
    border-bottom: 2px solid #08558B;
}

#recuperar_senha{
    text-align: right;
    display: block;

}

input[type='submit']{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: #1B223C;
    transition: .5s;
}

/* Rede Sociais */

#social_container, #social_container p{
    margin-bottom: 20px;
}

#social_container i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1.3px solid black;
    line-height: 40px;
    margin: 0 5px;
    cursor: pointer;
}
.fa-google{
    color: black;
    background-color: #FFF;
}
.fa-facebook-f{
    color: #FFF;
    background-color: #3B5998;
}
.fa-linkedin{
    color: #FFF;
    background-color: #0077B5;
}
.fa-twitter{
    color: #FFF;
    background-color: #00acee;
}

/* Registrar */

#register_container{
    margin-bottom: 10px;
}