  /**CSS Document**/

input{
    border:none;
    border-radius: 2px;
}
  
.btn_add {

    position: relative;
    left: 30px;
    border-radius: 3.5px;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #111010c4;
    margin-bottom: 1.2%;
    margin-right: 1.5%;


}
table{
    position:relative;
    width: 100%;
    margin: auto;
    background: #313030d2;
    border:3px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
    position: relative;
    border:3px solid black;
    border-radius: 10px;
}
.btn_tab {
    border: none;
    padding: 7px;
    margin-top: 0%;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    background: #161616;
    color: white;

}
a:link,
a:visited {
    color: white;
    text-decoration: none;

}
  a:hover {
    color: blue;
    text-decoration: underline;
}
  a:active {
    color: red;
}
