  /**CSS Document**/

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    border: none;
}
body {
    background: url(imagens/plano-de-fundo.jpg);
}
main {
    position: relative;
    width: 95%;
    max-width: 90%;
    margin: auto ;
    background: #313030d2;
    padding:  40px;
    margin-top: 30px;
    border-radius: 10px;
    bottom: 20px;
}
table{
    position:relative;
    background: #313030d2;
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    
}
td{
    border: 1px solid black;
    text-align: justify;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
ul.a {
    list-style-type: none;
  }
.btn {
    position: relative;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #111010c4;
    left: 85%;
}

#footer{
    position: absolute ;
    background: rgba(255, 255, 255, 0.87);
    color: black;
    left: 0%;
    height: 60px;
    width: 100%;
}