  /**CSS Document**/

html, body {
    width: 100%;
    height: 100%;
    margin:0%;
    padding:0%;
    background: url(imagens/plano-de-fundo.jpg);
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
}
#topo {
    background: rgba(255, 255, 255, 0.87);
    position: relative;
    padding: 1rem;
    color: black;
}
#logo {
    position: absolute;
    max-width: 15%;
    top: 0%;
    left: 0px;
}
.titulo-principal, .name  {
    font-size: "Open Sans Condensed", Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
}
#texto-inicio {

    text-align: center;
}
#body {

    position: relative;
    width: 95%;
    max-width: 90%;
    margin: auto ;
    background: #313030d2;
    padding:  40px;
    margin-top: 30px;
    border-radius: 10px;
    bottom: 20px;
}
table{
    
    position:relative;
}
th,td {
    border-radius: 5px;
    text-align: justify;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
th{
    background: rgba(231, 253, 250, 0.651);
    color: black;
}
td{
    background: rgba(255, 255, 255, 0.699);
    color: black;
}
#footer{

    position: absolute ;
    background: rgba(255, 255, 255, 0.87);
    color: black;
    left: 0%;
    height: 60px;
    width: 100%;

}